<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.DartsScoreboardApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DartScoreboard"
        tools:targetApi="31">
        <activity
            android:name=".live_matches.presentation.LiveProMatchesActivity"
            android:exported="false" />
        <activity
            android:name=".reminders.ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".match.presentation.UserStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".match.presentation.StatisticsActivity"
            android:exported="false"
            android:label="@string/title_activity_statistics"
            android:theme="@style/Theme.DartScoreboard" />
        <activity
            android:name=".match.presentation.MatchHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".match.presentation.UserCreateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".match.presentation.PlayerSelectActivity"
            android:exported="false" />
        <activity
            android:name=".match.presentation.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".main_activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".match.presentation.MatchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".match.presentation.SetupMatchActivity"
            android:exported="true" />

        <receiver android:name=".reminders.ReminderNotificationReceiver" />
        <receiver
            android:name=".util.BootCompletedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>